*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.offers-text{
    text-shadow: 2px 2px  #890303;
}
.aboutUs-text{
    text-align: start;
    margin-top: 60px;
    margin-left: 110px;
}
.aboutus{
    width: 5%;
    margin-top: -28px;
    border: 2px solid #ff3131;
    margin-left: 220px;
}