*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.aboutusPhoto{
    width: 100%;
    height: 70vh;
}
.about-title{
  color: #ff3131;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size:50px;
  text-shadow: 2px 2px  #890303;
}
.aboutUs-text{
    text-align: start;
    margin-top: 60px;
    margin-left: 110px;
}
.aboutus{
    width: 5%;
    margin-top: -28px;
    margin-bottom: 45px;
    border: 2px solid #ff3131;
    margin-left: 550px;
}
.column3 {
    float: left;
    width: 28%;
    padding: 60px;
    height: 590px; 
    border: 1px solid #ff3131 ;
    text-align: center;
    margin-left: 40px;
  }
  
  /* Clear floats after the columns */
  .row3:after {
    content: "";
    display: table;
    clear: both;
  }
  .row3{
    width: 80%;
    margin-left: 165px;
    padding-bottom: 150px;
  }
  .agent{
    width: 70%;
    border-top-right-radius: 50px 50px;
    border-bottom-left-radius: 50px 50px;
    margin-left: 100px;
  }
  .general-info{
    width: 80%;
    margin: auto;
  }
  .questions{
    text-align: start;
  }
  .qu{
    margin-top: 25px;
  }
  .hr3{
    width: 5%;
    margin-top: -28px;
    margin-bottom: 45px;
    border: 2px solid #ff3131;
    margin-left: 770px;
  }
  .values{
    background-color: beige;
    margin-top: 60px;
  }
  .values-header{
    padding-top: 60px;
}
.icons{
    font-size: 80px;
    margin-bottom: 25px;
}
.value-text{
    margin-top: 20px;
    padding: 10px;
}
.money{
    color: rgb(220, 101, 57);
}
.airplane{
    color: rgb(220, 101, 57);
}
.ending{
    margin-top: 50px;
    display: flex;
    align-items: center;
    margin-bottom: -100px;
}
.ending h2 {
    margin-right: 50px;  
    margin-left: 450px;
  }