
.add-employee {
    width: 100%;
    max-width: 400px; /* Set a maximum width to control the form's width */
    margin: 0 auto; /* Center the form horizontally */
    padding: 35px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 70px;
  }
  
  .add-employee h2 {
    color: #007bff;
  }
  
  .add-employee form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .add-employee label {
    font-weight: bold;
  }
  
  .add-employee input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .add-employee button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 40px;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
    width: 350px;
  }
  
  .add-employee button:hover {
    background-color: #0056b3;
  }
  .error-message{
    color: #ff0000; 
  }
  .success-message{
    color: green;
  }
  