.Wrapper{
    flex: 4;
}
.table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-family: Arial, sans-serif;
    max-height: 300px; /* Set the maximum height to make the table shorter */
    overflow-y: auto; /* Add a vertical scrollbar if the table overflows */
  }
  
  .table th {
    background-color: #f2f2f2;
  }
  
  .table th,
  .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .table tr:hover {
    background-color: #ddd;
  }
  
  .table .edit-button {
    background-color: #007bff; /* Make the "Edit" button blue */
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 5px;
  }
  
  .table .edit-button:hover {
    background-color: #0056b3; /* Change the blue shade on button hover */
  }
  
  .table .delete-button {
    background-color: #ff0000; /* Make the "Delete" button red */
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 5px;
  }
  
  .table .delete-button:hover {
    background-color: #cc0000; /* Change the red shade on button hover */
  }


.search-and-add {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
  }
  
  .search-icon {
    font-size: 20px;
    color: #555;
   
  }
  
  .add-link a {
    text-decoration: none;
    color: #007bff;
    font-weight: 600;
  }
  
  .add-link a:hover {
    color: #0056b3;
  }
  .Header{
    margin-bottom: 20px;
  }
  